<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>리뷰 조회 상세 화면</title>
    </head>
    <body>
        <div>
            <h1><a href="/" style="text-decoration: none" >My Movie Reviews</a></h1>
        </div> 
        <hr />
        <h2>{{post.title}}</h2>
        <p>개봉년도: {{post.year}}년</p>
        <p>감독: {{post.director}}</p>
        <p>주연: {{post.actor}}</p>
        <p>장르: {{post.genre}}</p>
        <p>별점: {{post.rating}}점</p>
        <p>러닝타임: {{post.runtime}}분</p>
        <div>상세 리뷰: {{post.review}}</div>
        <br />
        <div><a href="/update/{{post.id}}">수정</a></div>
        <div><a href="/delete/{{post.id}}">삭제</a></div>
    </body>
</html>