#iv-section {
    min-height: 90vh;
    padding: 0 var(--offset);
}
.interview-contents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gutter);
    margin-bottom: var(--offset);
    padding: 0 var(--offset);
}
@media screen and (max-width: 850px) {
    .interview-contents {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 600px) {
    .interview-contents {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .interview-card {
    background-color: var(--bg-gray);
    border-radius: 10px;
    padding: var(--gutter);
    cursor: pointer;
    position: relative;
  }
  .interview-card:hover {
    top: -2px;
  }
  .project-more {
    width: 20px;
    height: 20px;
    position: absolute;
    right: var(--gutter);
    top: var(--gutter);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-more > div:nth-child(1) {
    margin-right: auto;
}

.project-more > div {
    width: 100%;
    height: 2px;
    background-color: var(--bg-5);
    transition: 0.3s;
}

.project-more > div:nth-child(3) {
    margin-left: auto;
}

.project-more > div {
    width: 100%;
    height: 2px;
    background-color: var(--bg-5);
    transition: 0.3s;
}
.interview-card:hover .project-more > div:nth-child(1),
.interview-card:hover .project-more > div:nth-child(3) {
  width: 50%;
}
.interview-card:hover .interview-profile--pic img {
  transform: scale(1.1);
}
.interview-card--header {
  display: flex;
  gap: var(--gutter);
}
.interview-profile--pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.interview-profile--pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.interview-header--right {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.interview-card--intro {
  font-size: var(--body1);
  padding-top: var(--gutter);
  line-height: 2rem;
}

.interview-profile--name {
  font-size: var(--heading2);
  font-weight: 900;
}
