#portfolio {
    /* padding-bottom: 50px; */
    padding: 90px var(--offset) 50px;
}
@media screen and (max-width: 768px) {
#portfolio {
    padding: 90px var(--gutter) 50px;
}
}
.project-container {
width: 100%;
background-color: var(--bg-gray);
border-radius: 10px;
padding: var(--gutter);
display: flex;
gap: var(--gutter);
margin-bottom: var(--gutter);
cursor: pointer;
position: relative;
}

.project-container:hover {
top: -2px;
}
.project-pic {
width: 150px;
height: 110px;
background-color: white;
overflow: hidden;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
}

.project-pic img {
width: 100%;
object-fit: contain;
transition: 0.3s;
padding: 1rem 2rem;
}
.project-container:hover .project-pic img {
transform: scale(1.1);
}
.project-content {
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 5px 0;
}
.project-content--name {
font-size: var(--heading2);
font-weight: 900;

}
.project-content--introduction {
font-size: var(--body1);
color: var(--subtext-gray);
line-height: 2rem;
word-break: keep-all;
}
.project-more {
width: 20px;
height: 20px;
position: absolute;
right: var(--gutter);
top: var(--gutter);
display: flex;
flex-direction: column;
justify-content: space-around;
}
.project-more > div {
width: 100%;
height: 2px;
background-color: var(--bg-5);
transition: 0.3s;
}
.project-more > div:nth-child(1) {
margin-right: auto;
}
.project-more > div:nth-child(3) {
margin-left: auto;
}
.project-container:hover .project-more > div:nth-child(1),
.project-container:hover .project-more > div:nth-child(3) {
width: 50%;
}
@media screen and (max-width: 650px){
.project-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: var(--offset);

}
.project-content--name{
    margin-bottom: 10px;
}
.project-pic {
    width: min(75%, 250px);
    height: 160px;

}
}