:root {
  --black: #000;
  --bg-5: rgba(236, 236, 236, 0.466);
  --bg-gray: #333333;
  --white: #fff;
  --subtext-gray: #c6c6c6;

  --green: #0bec12;

  --heading1: 3.8rem;
  --heading2: 2.8rem;
  --heading3: 2.2rem;
  --subheading: 1.8rem;
  --body1: 2rem;
  --body2: 1.4rem;
  --caption: 1.2rem;

  --offset: 40px;
  --gutter: 16px;
  --border-r: 8px;

  --transition: 0.15s;
  --header-height: 9rem;
}
@media screen and (max-width: 800px){
  :root{
    --header-height: 7rem;
  }
}
html {
  scroll-behavior: smooth;
  background-color: var(--black);
}

.container{
  background-color: var(--black);
  color: var(--white);
  flex-direction: column;

}

#body-section {
  padding-top: 12rem;
}

