:root {
  --black: #000;
  --bg-3: rgb(222, 222, 222);
  --bg-5: rgba(236, 236, 236, 0.466);
  --bg-gray: #333333;
  --scroll-bar-gray: #222222;
  --line-gray: #606060;
  --white: #fff;
  --subtext-gray: #c6c6c6;

  --green: #0bec12;

  --blue: #2188b6;
  --red: #c54422;
  --badge-green: #35a67b;

  /* font size */
  --hero: 8rem;
  --heading1: 3.8rem;
  --heading2: 2.8rem;
  --heading3: 2.2rem;
  --subheading: 1.8rem;
  --body1: 1.6rem;
  --body2: 1.4rem;
  --caption: 1.2rem;

  /* font weight */
  --weight1: 400;
  --weight2: 500;
  --weight3: 700;

  --offset: 40px;
  --gutter: 16px;
  --border-r: 8px;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --transition: 0.15s;
  --header-height: 9rem;
}
@media screen and (max-width: 800px){
  :root{
    --header-height: 7rem;
  }
}
html {
  scroll-behavior: smooth;
  background-color: var(--black);
}
/* body {
  background-color: var(--black);
  color: var(--white);
  flex-direction: column;
} */
.container{
  background-color: var(--black);
  color: var(--white);
  flex-direction: column;

}
#main-header {
  height: 9rem;
  width: 100%;
  padding: 0 var(--offset);
  position: fixed;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1000;
}
@media screen and (max-width: 1250px) {
  .header--container {
    padding: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  #main-header {
    padding: 0 16px;
  }
}

.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#main-header h1,
#main-header h1 > div {
  width: 40px;
  height: 40px;
}

#main-header ul {
  display: flex;
  gap: var(--gutter);
  font-size: 1.8rem;
  font-weight: 700;
}
#main-header ul li {
  cursor: pointer;
  padding: 5px;
}
#main-header ul li:hover {
  position: relative;
  top: -2px;
}
#main-header ul .selected-nav {
  color: var(--green-1);
}

#body-section {
  padding-top: 12rem;
}

/* hamburger */
#hamburger-icon {
  display: none;
}
@media screen and (max-width: 800px){
  #hamburger-icon{
    display: flex;
    width: 30px;
    flex-direction: column;
  }
  #hamburger-icon > div{
    height: 3px;
    background-color: var(--white);
    margin: 3px 0;
    transition: 0.3s;
  }
  #hamburger-icon > div:nth-of-type(1){
    width: 50%;
  }
  #hamburger-icon > div:nth-of-type(2){
    width: 100%;
  }
  #hamburger-icon > div:nth-of-type(3){
    width: 75%;
  }
  #hamburger-icon > input{
    display: none;
  }
  #hamburger-icon > input:checked ~ div:nth-of-type(1){
    transform-origin: bottom;
    transform: rotate(45deg) translate(4px, 0px);
  }
  #hamburger-icon > input:checked ~ div:nth-of-type(2){
    transform-origin: top;
    transform: rotate(-45deg);
  }
  #hamburger-icon > input:checked ~ div:nth-of-type(3){
    transform-origin: bottom;
    width: 50%;
    transform: rotate(45deg) translate(7px, -13px);
  }
}

#hamburger-content{
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  /* left: calc(100% - 250px); */
  left: 100%;
  /* 100% -> 0% */
  background-color: var(--bg-gray);
  z-index: 500;
  padding: 13rem var(--offset);
  transition: 0.3s;
}
#hamburger-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: black;
}
.overlay#hamburgerOverlay{
  z-index: 499;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
#hamburger-content ul{
  display: flex;
  flex-direction: column;
  font-size: var(--subheading);
  gap: var(--offset);
  text-align: end;
}
@media screen and (max-width: 800px) {
  #main-header{
    height: 7rem;
  }
  #main-header .header--container ul {
    display: none;
  }
  #main-header h1,
  #main-header h1 > a > img{
    width: 30px;
    height: 30px;
  }
}