{% extends 'base.html' %} {% load static %} {%block content%}
<div class="head">
  <h1>DevTool Detail</h1>
  <div>
    개발툴 세부내용 페이지입니다. 자신이 다룰 수 있는 개발툴에 대한 상세내용을 확인해 보아요.
  </div>
</div>

<div class="content-wrapper">
  <div class="info1">
    <div class="info2">
      <h1>{{devtool.name}}</h1>
      <p>{{devtool.kind}}</p>
      <p>{{devtool.content}}</p>
    </div>
  </div>
  {% for rel_idea in related_ideas %}
  <p style="font-weight: bold;">> 만들 수 있는 SW 목록</p>
  <a href="{% url 'ideas:detail' rel_idea.pk %}" class="btn btn-success">
    {{rel_idea.title}}
  </a>
  <br><br><br>
  {% endfor %}
</div>
<form action="{% url 'devtools:delete' devtool.pk %}" method="POST">
  {%csrf_token%}
  <button type="submit" class="btn btn-danger">삭제</button>
</form>
<a href="{% url 'devtools:list' %}" class="btn btn-primary">목록</a>
<a href="{% url 'devtools:update' devtool.pk %}" class="btn btn-primary"
  >수정</a
>

{%endblock%}
