{% extends 'base.html' %} {% load static %} {%block content%}
<div class="head">
  <h1>Idea Detail</h1>
  <div>
    아이디어 세부내용 페이지입니다. 당신이 구현하려고 한 아이디어들을 자세히 살펴보세요.
  </div>
</div>

<div class="content-wrapper">
  <div class="info1">
    {% if idea.image.url != null and idea.image.url != '' %} {% if idea.star %}
    <div class="image-container">
      <img src="{{ idea.image.url }}" alt="" />
      <a class="star-icon" href="{% url 'ideas:star_detail' idea.pk %}" style="margin-left: 860px; margin-top: 8px;">
        <i class="fa-regular fa-star outline"></i>
        <i class="fa-solid fa-star fill check"></i>
      </a>
    </div>
    {% else %}
    <div class="image-container">
      <img src="{{ idea.image.url }}" alt="" />
      <a class="star-icon" href="{% url 'ideas:star_detail' idea.pk %}" style="margin-left: 860px; margin-top: 8px;">
        <i class="fa-regular fa-star outline"></i>
        <i class="fa-solid fa-star fill"></i>
      </a>
    </div>
    {% endif %} 
    {% else %} 
    {% if idea.star %}
    <div class="image-container">
      <img src="{% static 'image/no_img.png' %}" alt="이미지 없음" />
      <a class="star-icon" href="{% url 'ideas:star_detail' idea.pk %}" style="margin-left: 860px; margin-top: 8px;">
        <i class="fa-regular fa-star outline"></i>
        <i class="fa-solid fa-star fill check"></i>
      </a>
    </div>
    {% else %}
    <div class="image-container">
      <img src="{% static 'image/no_img.png' %}" alt="이미지 없음" />
      <a class="star-icon" href="{% url 'ideas:star_detail' idea.pk %}" style="margin-left: 860px; margin-top: 8px;">
        <i class="fa-regular fa-star outline"></i>
        <i class="fa-solid fa-star fill"></i>
      </a>
    </div>
    {% endif %} {% endif %}
    <div class="info2">
      <h1>{{idea.title}}</h1>
      <p>1. 아이디어 관심도</p>
      <p>{{idea.interest}}</p>
      <p>2. 예상 개발툴</p>
      <a href="{% url 'devtools:detail' idea.pk  %}">{{idea.devtool}}</a>
      <p>3. 아이디어 설명</p>
      <p>{{idea.content}}</p>
    </div>
  </div>
</div>
<form action="{% url 'ideas:delete' idea.pk %}" method="POST">
  {%csrf_token%}
  <button type="submit" class="btn btn-danger">삭제</button>
</form>
<a href="{% url 'ideas:list' %}" class="btn btn-primary">목록</a>
<a href="{% url 'ideas:update' idea.pk %}" class="btn btn-primary">수정</a>

{%endblock%}
